package components

import "fmt"

templ icon(icon string, attrs ...string) {
	<iconify-icon icon={ icon } { KVPairsAttrs(attrs...)... } noobserver></iconify-icon>
}

templ sseIndicator(signalName string) {
	<div class="loading-dots text-primary" data-class={ fmt.Sprintf("{'loading ml-4': $%s}", signalName) }></div>
}
